<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smartgroups board</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="starterApp" layout="row" ng-controller="BoardController as bc" ng-cloak>

    <div class="main-container">
        <md-toolbar class="md-whiteframe-4dp">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Smartgroups Board title</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row">
            <div flex-gt-sm="70">
                <md-card ng-repeat="post in bc.board.posts">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="https://material.angularjs.org/latest/img/100-2.jpeg">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{ post.created_by.name }}</span>
                            <span class="md-subhead">{{ post.created_at }}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <p>{{ post.content }}</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button ng-click="actionLike(post)">
                            <md-icon>thumb_up</md-icon>
                            Like
                        </md-button>
                        <md-button ng-click="actionComment(post)">
                            <md-icon>question_answer</md-icon>
                            Comment
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div flex-gt-sm="30">
                <md-card>
                    <md-card-content>
                        <p>
                            Hier kommen noch allgemeine Infos zum Board hin.
                        </p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/users/Board.js"></script>
    <script src="./src/users/BoardController.js"></script>
    <script src="./src/users/BoardService.js"></script>
    <script src="./src/app.js"></script>

</body>
</html>
