html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
    background-color: #84a0b1;
}


.main-container {
    max-width: 960px;
    margin: 0 auto;
}

md-card-content {
    font-size: 110%;
}